@import "../../../styles";

.header {
    padding: 3.2rem 6rem;
    border-radius: 2.4rem;
    background-color: $section-white;

    &__burger {
        display: none;
        margin-right: 2.6rem;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .header-wrap {
        @extend %wrapper;
    }

    .nav {
        @extend %wrapper;
        width: 30.9rem;

        &__item {
            span.count {
                display: block;
                background-color: $yellow;
                border-radius: 50%;
                // TODO: При значение 10 становиться овалом
                padding: 0.4rem 1rem;
                font:
                    600 $opensans-r-16 "Open Sans",
                    sans-serif;
            }
        }
    }

    .nav:last-child {
        img {
            width: 3.2rem;
            height: 3.2rem;
        }

        width: 16.4rem;
        margin-left: 14.5rem;
    }
}

.header__logo,
.menu-burger__logo {
    img {
        width: 12.2rem;
        height: 3.2rem;
    }
}

.menu-burger {
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $section-white;
    z-index: 100;
    overflow: auto;
    padding: 7.5rem 0 7.5rem;

    &__logo {
        margin-bottom: 12rem;
    }

    &__close {
        position: absolute;
        top: 3rem;
        right: 3rem;

        svg {
            width: 1.3rem;
            height: 1.3rem;
        }
    }

    .burger-nav {
        &__item {
            &:not(:last-child) {
                margin-bottom: 3.5rem;
            }

            a {
                font-size: $rubik-sb-20;
            }
        }
    }
}

.fadeIn {
    animation: linear 0.4s burgerFadeIn alternate both;
}

.fadeOut {
    animation: linear 0.4s burgerFadeOut alternate both;
}

@keyframes burgerFadeIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes burgerFadeOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        opacity: 0.2;
        transform: translateX(-100%);
        display: none;
    }
}

@media screen and (max-width: $tablet) {
    .header {
        &__burger {
            display: flex;
            justify-content: center;
        }

        .nav:first-child,
        .nav:last-child .nav__item:first-child {
            display: none;
        }

        .nav:last-child {
            width: 7.6rem;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: $mobile) {
    .header {
        padding: 1.6rem;

        &__logo img {
            width: 7.6rem;
            height: 2rem;
        }

        .nav {
            &__item span.count {
                padding: 0 0.6rem;
            }

            &:last-child {
                width: 4.6rem;

                img {
                    display: block;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}
