<section class="checkout">
    <div class="checkout__inner">
        <form
            (ngSubmit)="onSubmit()"
            [formGroup]="orderForm"
            class="checkout checkout--wrap form">
            <div class="checkout__item form-wrap">
                <div class="checkout__title checkout__title--wrap">
                    <div class="checkout__title form__title-inner">
                        <h3>Контактная информация</h3>
                    </div>
                    <div class="checkout__subtitle">
                        <p>
                            Мы будем использовать эту информацию для связи с
                            вами
                        </p>
                    </div>
                </div>
                <div class="form__input">
                    <label for="email"></label>
                    <input
                        [ngClass]="{
                            error: orderForm.controls['email'].errors
                        }"
                        autocomplete="email"
                        formControlName="email"
                        id="email"
                        name="email"
                        placeholder="user@example.com"
                        type="email" />
                    <ng-container *ngIf="orderForm.controls['email'].errors">
                        <div class="input-icon info">
                            <img
                                alt="ошибка"
                                loading="lazy"
                                src="assets/img/common/information-circle.svg" />
                        </div>
                    </ng-container>
                    <span
                        *ngIf="orderForm.controls['email'].errors"
                        class="info-text error"
                        >Обязательное поле</span
                    >
                </div>
            </div>
            <div class="checkout__item form-wrap">
                <div class="checkout__title form__title-inner">
                    <h3>Оформление заказа</h3>
                </div>
                <div class="checkout__input checkout__input--wrap">
                    <div class="form__input large">
                        <label for="name"></label>
                        <input
                            [ngClass]="{
                                error: orderForm.controls['name'].errors
                            }"
                            formControlName="name"
                            id="name"
                            name="name"
                            placeholder="Имя"
                            type="text" />
                    </div>
                    <div class="form__input large">
                        <label for="lastname"></label>
                        <input
                            [ngClass]="{
                                error: orderForm.controls['lastname'].errors
                            }"
                            formControlName="lastname"
                            id="lastname"
                            name="lastname"
                            placeholder="Фамилия"
                            type="text" />
                    </div>
                </div>
                <div class="form__input large">
                    <ng-container *ngIf="!isFreeDelivery">
                        <label for="address"></label>
                        <input
                            [ngClass]="{
                                error: orderForm.controls['address'].errors
                            }"
                            formControlName="address"
                            id="address"
                            name="address"
                            placeholder="Адрес доставки*"
                            type="text" />
                        <ng-container
                            *ngIf="orderForm.controls['address'].errors">
                            <div class="input-icon info">
                                <img
                                    alt="ошибка"
                                    loading="lazy"
                                    src="assets/img/common/information-circle.svg" />
                            </div>
                        </ng-container>
                        <span
                            *ngIf="orderForm.controls['address'].errors"
                            class="info-text error"
                            >Обязательное поле</span
                        >
                    </ng-container>
                </div>
                <div class="form__input">
                    <label for="tel"></label>
                    <input
                        [ngClass]="{
                            error: orderForm.controls['tel'].errors
                        }"
                        formControlName="tel"
                        id="tel"
                        mask="(000) 000-00-00"
                        name="tel"
                        placeholder="(___) ___-__-__*"
                        type="text" />
                    <ng-container *ngIf="orderForm.controls['tel'].errors">
                        <div class="input-icon info">
                            <img
                                alt="ошибка"
                                loading="lazy"
                                src="assets/img/common/information-circle.svg" />
                        </div>
                    </ng-container>
                    <span
                        *ngIf="orderForm.controls['tel'].errors"
                        class="info-text error"
                        >Обязательное поле</span
                    >
                </div>
            </div>
            <div class="checkout__item form-wrap">
                <div class="checkout__title form__title-inner">
                    <h3>Условия доставки</h3>
                </div>
                <ng-container *ngFor="let item of delivery">
                    <div
                        (click)="selectDelivery(item.name, item.id)"
                        [class.active]="item.id === selectedDelivery"
                        class="checkout__select">
                        <div class="checkout__select--wrap">
                            <div class="checkout__title">
                                <h3>{{ item.name }}</h3>
                            </div>
                            <div class="checkout__subtitle">
                                <p>{{ item.text }}</p>
                            </div>
                        </div>
                        <div class="checkout__cost cost">
                            <h3>{{ item.costDisplay }}</h3>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="checkout__item form-wrap">
                <button class="btn" type="submit">Оплатить</button>
            </div>
        </form>
        <div class="checkout checkout--wrap cart">
            <div class="subject">
                <div class="subject__title">
                    <h3>Ваш заказ</h3>
                </div>
                <div class="subject__item subject__item--wrap">
                    <div class="subject__item_name">
                        <p>Товары ({{ getTotalCount() }})</p>
                    </div>
                    <div class="subject__item_price">
                        <p>{{ getTotalCost() }} ₽</p>
                    </div>
                </div>
                <div class="subject__item subject__item--wrap">
                    <div class="subject__item_name">
                        <p>Доставка</p>
                    </div>
                    <div class="subject__item_price">
                        <p>
                            {{
                                this.delivery[this.selectedDelivery - 1]
                                    .costDisplay
                            }}
                        </p>
                    </div>
                </div>
                <div class="subject__item subject__item--wrap">
                    <div class="subject__item_name">
                        <p>Скидка (%)</p>
                    </div>
                    <div class="subject__item_price">
                        <p>-</p>
                    </div>
                </div>
                <div class="subject__item subject__item--wrap">
                    <div class="subject__item_name">
                        <h3>Итого</h3>
                    </div>
                    <div class="subject__item_price cost">
                        <h3>
                            {{
                                getTotalCost() +
                                    this.delivery[this.selectedDelivery - 1]
                                        .cost
                            }}
                            ₽
                        </h3>
                    </div>
                </div>
            </div>
            <div class="checkout__item checkout__item--wrap">
                <div class="checkout__title">
                    <h3>Описание товаров</h3>
                </div>
                <div class="checkout__grid">
                    <ng-container *ngFor="let item of cart">
                        <app-card-order [item]="item"></app-card-order>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>
