<section class="profile">
    <div class="profile-wrap">
        <aside class="aside">
            <div class="title">
                <div class="title__img">
                    <img
                        alt="Иконка"
                        loading="lazy"
                        src="../../../../assets/img/common/profile_logo.svg" />
                </div>
                <div class="title__name">
                    <h3>{{ userData.name }} {{ userData.lastname }}</h3>
                </div>
            </div>
            <div class="aside__list">
                <ul class="list">
                    <ng-container *ngFor="let list of navList">
                        <li class="list__item" routerLinkActive="active">
                            <a [routerLink]="list.link">{{ list.name }}</a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </aside>
        <section class="section_inner">
            <router-outlet></router-outlet>
        </section>
    </div>
</section>
