@import "../../../../styles";

.profile {
    &--wrap {
        display: grid;
        grid-template-columns: 1fr 5.1fr;
        column-gap: 4rem;
    }

    .aside {
        background-color: $section-white;
        padding: 2rem 2.5rem;
        border-radius: 2.4rem;
        height: max-content;

        .title {
            margin-bottom: 2rem;

            &__img img {
                width: 8rem;
                height: 8rem;
            }

            &__name {
                margin-top: 0.5rem;
                width: 95%;
                white-space: normal;
            }
        }
    }

    .section_inner {
        padding: 5rem;
        background-color: $section-white;
        border-radius: 2.4rem;
        height: max-content;
    }

    @media screen and (max-width: $tablet) {
        .section_inner {
            padding: 0;
            background-color: transparent;
        }
    }

    .list {
        &__item {
            position: relative;

            a {
                font:
                    400 $opensans-r-16 "Open Sans",
                    sans-serif;
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &__item.active {
            a {
                position: relative;
                z-index: 2;
                color: $gray;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                width: 100%;
                top: -0.5rem;
                left: -2.5rem;
                height: 3.2rem;
                background-color: $yellow;
                border-radius: 0 2.4rem 0 0;
                padding: 0 2.5rem;
            }
        }
    }
}

@media screen and (max-width: $laptop) {
    .profile--wrap {
        grid-template-columns: 1fr 4fr;
    }
}

@media screen and (max-width: $tablet) {
    .profile--wrap {
        grid-template-columns: 1fr 2.6fr;
    }
}

@media screen and (max-width: $mobile) {
    .profile {
        &--wrap {
            grid-template-columns: auto;
            row-gap: 4rem;
        }

        .aside {
            padding: 2rem 3rem;

            .title {
                display: flex;
                align-items: center;

                &__name h3 {
                    font-size: $rubik-sb-20;
                }

                &__img {
                    margin-right: 2rem;

                    img {
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
        }

        .list {
            &__item:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            &__item.active {
                &::after {
                    left: -3rem;
                    padding: 0 3rem;
                }
            }
        }
    }
}
