@import "../../../../assets/scss/variables";

.card-review {
    &__inner {
        display: flex;
        align-items: flex-start;
        border-radius: 1.6rem;
        border: 0.1rem solid $main-gray;
        padding: 1.5rem;
    }

    &__inner.active {
        border: 0.2rem solid $yellow;
    }

    &__item.stars {
        margin-right: 14rem;
        @media screen and (max-width: $mobile) {
            margin-right: 2.5rem;
        }
    }
}
