<ng-container *ngIf="card_basket">
    <div class="card-basket">
        <div class="card-basket__inner">
            <div class="card-basket--wrap">
                <!--TODO: Может поехать картинка при большой ширине заголовка-->
                <div class="card-basket__img">
                    <img [src]="cartData.images" alt="" />
                </div>
                <div class="card-basket--wrap">
                    <div class="subject">
                        <div class="subject__title">
                            <h3>{{ cartData.title }}</h3>
                        </div>
                        <div class="subject__subtitle">
                            <p>{{ cartData.description }}</p>
                        </div>
                        <div class="subject__color">
                            <!--TODO: Приходит один цвет, а не массив-->
                            <p>{{ cartData.colors }}</p>
                        </div>
                        <div class="subject__size">
                            <!--TODO: Приходит один размер, а не массив-->
                            <p>{{ cartData.sizes }}</p>
                        </div>
                        <div class="card-basket__cost mobile">
                            <h3>{{ cartData.cost }}</h3>
                        </div>
                    </div>
                    <div class="icon-status">
                        <div class="icon-status__item">
                            <img
                                alt="В избранном"
                                src="../../../assets/img/common/heart.svg" />
                        </div>
                        <div class="icon-status__item">
                            <img
                                alt="В корзине"
                                src="../../../assets/img/common/cart.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-basket__cost desktop">
                <h3>{{ cartData.cost }}</h3>
            </div>
            <button (click)="removeFromCart(cartData.id)" class="close">
                <svg
                    fill="none"
                    height="13"
                    viewBox="0 0 13 13"
                    width="13"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.771729 1.07349L11.8182 12.0075"
                        stroke="black"
                        stroke-linecap="round" />
                    <path
                        d="M0.771606 12.0079L11.8181 1.07381"
                        stroke="black"
                        stroke-linecap="round" />
                </svg>
            </button>
        </div>
        <div class="card-basket__counter">
            <button (click)="decrementProduct(cartData.id)" class="counter">
                <svg
                    fill="none"
                    height="2"
                    viewBox="0 0 14 2"
                    width="14"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1 1.07349L13 1.07349"
                        stroke="black"
                        stroke-linecap="round" />
                </svg>
            </button>
            <div class="counter-value">
                <h4>CartData.count</h4>
            </div>
            <button (click)="incrementProduct(cartData.id)" class="counter">
                <svg
                    fill="none"
                    height="14"
                    viewBox="0 0 14 14"
                    width="14"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1 7.07349L13 7.07349"
                        stroke="black"
                        stroke-linecap="round" />
                    <path
                        d="M7 13.0735L7 1.07349"
                        stroke="black"
                        stroke-linecap="round" />
                </svg>
            </button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="card_product">
    <div class="card-product">
        <div class="card-product__inner">
            <!--TODO: Может быть проблема с отображением картинки-->
            <div class="card-product__img">
                <img [src]="cartData.images" alt="" />
                <div class="flag">
                    <!--TODO: Вывод статуса товара (скидки новое и т.п)-->
                    <!--TODO: Сделать условием, для изменения цвета фона-->
                    <span [ngClass]="{ discount: false, new: true }">New</span>
                </div>
                <ng-container *ngIf="cartData.isFavorite">
                    <!--TODO: Сделать функцию удаление из избранного-->
                    <div class="heart">
                        <img
                            alt="В избранном"
                            src="../../../assets/img/common/heart-favorite.svg" />
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="card-product__title">
            <h3>{{ cartData.title }}</h3>
        </div>
        <div
            [ngClass]="{
                'btn-flex': cartData.isFavorite
            }"
            class="card-product__btn">
            <button
                [routerLink]="[
                    cartData.isFavorite ? '/cart' : '/product/' + cartData.id
                ]"
                class="btn medium">
                <!--TODO: Сделать переход на страницу товара по id ([routerLink]="[cartData.isFavorite ? '/product/' + cardData.id : '/cart']")-->
                {{ cartData.isFavorite ? "В корзину" : "подробнее" }} -
                <span> {{ cartData.cost }}₽ </span>
            </button>
            <ng-container *ngIf="cartData.isFavorite">
                <!--TODO: Нужно будет сделать функцию которая, отправляет данные на страницу check out-->
                <button class="btn btn--secondary medium">Купить</button>
            </ng-container>
        </div>
    </div>
</ng-container>
