@import "../../../assets/scss/variables";

.card-review {
    &__inner {
        display: flex;
        border-radius: 1.6rem;
        border: 0.1rem solid $main-gray;
        align-items: flex-start;
        padding: 1.5rem;
    }

    &__inner.active {
        border: 0.2rem solid $yellow;
    }

    &__item.stars {
        display: flex;
        width: 12.5rem;
        margin-right: 14rem;

        .star svg {
            width: 2.5rem;
            height: 2.3rem;
        }
    }
}
