<html lang="ru">

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

    </style>
    <title></title>
</head>
<body>
<p>Здравствуйте!
<p>
<p>Для восстановления пароля перейдите по ссылке ниже</p>
<p>
    <a href="{{ url }}">Перейти</a>
</p>
</body>
</html>