<html lang="ru">

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

    </style>
    <title></title>
</head>
<body>
<p>Привет!!/p>
<p>Поздравляем вас со вступлением в сообщество!! Теперь вам доступна скидка в 20% </p>
<p>Нажмите на ссылку ниже, чтобы перейти на сайт</p>
<p>
    <a href="{{ url }}">Перейти</a>
</p>
</body>
</html>