@import "../../../assets/scss/variables";

.info {
    width: 45rem;
    margin: 0 auto;

    .info-wrap {
        @extend %wrapper;
    }

    &__img img {
        width: 15rem;
        height: 15rem;
    }

    .subject {
        row-gap: 0;

        &__title h2 {
            font-size: $rubik-sb-24;
        }

        &__subtitle {
            margin: 0.5rem 0 1.5rem;

            p {
                font-size: $opensans-r-14;
            }
        }

        &__btn button.btn {
            width: max-content;
        }
    }
}

@media screen and (max-width: $mobile) {
    .info {
        width: 100%;

        .info-wrap {
            flex-direction: column;
        }

        &__img img {
            width: 12rem;
            height: 12rem;
        }

        .subject {
            text-align: center;

            &__btn button.btn {
                width: 100%;
            }
        }
    }
}
