<div
    [ngStyle]="{
        width: isNotFound && '50rem'
    }"
    class="info">
    <div class="info-wrap">
        <div class="info__img">
            <ng-container *ngIf="isCart">
                <img alt="Корзина" src="../../../assets/img/empty/cart.svg" />
            </ng-container>
            <ng-container *ngIf="isFavorite">
                <img
                    alt="Избранное"
                    src="../../../assets/img/empty/favorite.svg" />
            </ng-container>
            <ng-container *ngIf="isReview">
                <img alt="Отзыв" src="../../../assets/img/empty/review.svg" />
            </ng-container>
            <ng-container *ngIf="isOrders">
                <img alt="Отзыв" src="../../../assets/img/empty/orders.svg" />
            </ng-container>
            <ng-container *ngIf="isNotFound">
                <h1>404</h1>
            </ng-container>
        </div>
        <div class="subject">
            <div class="subject__title">
                <ng-container *ngIf="isCart">
                    <h2>Ваша корзина пуста</h2>
                </ng-container>
                <ng-container *ngIf="isFavorite">
                    <h2>В избранном пусто</h2>
                </ng-container>
                <ng-container *ngIf="isReview">
                    <h2>Еще нет отзывов</h2>
                </ng-container>
                <ng-container *ngIf="isOrders">
                    <h2>Список заказов пуст</h2>
                </ng-container>
            </div>
            <ng-container *ngIf="!isNotFound">
                <div class="subject__subtitle">
                    <p>Для выбора вещей перейдите в каталог</p>
                </div>
            </ng-container>
            <ng-container *ngIf="isNotFound">
                <p
                    [ngStyle]="{
                        width: isNotFound && '24rem',
                        'margin-bottom': isNotFound && '1.5rem'
                    }">
                    Мы не смогли найти страницу по вашей ссылке
                </p>
            </ng-container>
            <div class="subject__btn">
                <button class="btn medium" routerLink="/catalog">
                    Перейти в каталог
                </button>
            </div>
        </div>
    </div>
</div>
