<section class="login">
    <div class="container-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form">
            <div class="form--wrap">
                <div class="form__title">
                    <h2>Авторизация</h2>
                </div>
                <div class="form__subtitle">
                    <p>
                        <a routerLink="/register"> Еще нет аккаунта? </a>
                    </p>
                </div>
            </div>
            <div class="form--wrap">
                <div class="form__input">
                    <label for="email"></label>
                    <input
                        [ngClass]="{
                            error:
                                loginForm.controls['email'].errors ||
                                errors.includes('E-mail не найден')
                        }"
                        autocomplete="email"
                        formControlName="email"
                        id="email"
                        name="email"
                        placeholder="user@example.com"
                        type="email" />
                    <ng-container *ngIf="errors">
                        <ng-container *ngFor="let error of errors">
                            <span
                                *ngIf="error.includes('E-mail')"
                                class="info-text error"
                                >{{ error }}</span
                            >
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="loginForm.controls['email'].errors">
                        <div class="input-icon info">
                            <img
                                alt="ошибка"
                                src="../../../../assets/img/common/information-circle.svg" />
                        </div>
                    </ng-container>
                </div>
                <div class="form__input password">
                    <label for="password"></label>
                    <input
                        [ngClass]="{
                            error:
                                loginForm.controls['password'].errors ||
                                errors.includes('Неверный пароль')
                        }"
                        [type]="typeInputPassword"
                        autocomplete="password"
                        formControlName="password"
                        id="password"
                        name="password"
                        placeholder="Пароль" />
                    <ng-container *ngIf="!showPassword">
                        <div (click)="showPasswordInput()" class="input-icon">
                            <img
                                alt="показать пароль"
                                src="../../../../assets/img/common/password--show.svg" />
                        </div>
                    </ng-container>
                    <ng-container *ngIf="showPassword">
                        <div (click)="showPasswordInput()" class="input-icon">
                            <img
                                alt="показать пароль"
                                src="../../../../assets/img/common/password--hidden.svg" />
                        </div>
                    </ng-container>
                    <ng-container *ngIf="loginForm.controls['password'].errors">
                        <div class="input-icon info">
                            <img
                                alt="ошибка"
                                src="../../../../assets/img/common/information-circle.svg" />
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors">
                        <ng-container *ngFor="let error of errors">
                            <span
                                *ngIf="error.includes('пароль')"
                                class="info-text error"
                                >{{ error }}</span
                            >
                        </ng-container>
                    </ng-container>
                </div>
                <!-- TODO: Предложение о восстановление пароля появляется после неудачного входа и ошибки валидации пароля-->
                <!--<div class="form__link">-->
                <!--<a routerLink="/register">Регистрация</a>-->
                <!--</div>-->
            </div>
            <div class="form--wrap">
                <div class="form__input checkbox">
                    <input
                        formControlName="rememberMe"
                        id="rememberMe"
                        name="rememberMe"
                        type="checkbox" />
                    <label class="label-checkbox" for="rememberMe"
                        >Запомнить меня</label
                    >
                </div>
            </div>
            <div class="form__input button">
                <button class="btn btn--icon" type="submit">
                    Авторизоваться
                </button>
            </div>
        </form>
    </div>
</section>
