@import "../../../assets/scss/variables";

.cart {
    p {
        font-size: $opensans-sb-20;
        font-weight: 600;
    }

    .cart-wrap {
        display: flex;
        justify-content: space-between;
    }

    &__inner:first-child {
        width: 62.5%;

        .cart-wrap {
            align-items: center;
            margin-bottom: 2rem;
        }

        .content-cart {
            display: grid;
            row-gap: 4rem;
        }
    }

    &__inner:last-child {
        width: 33%;

        .cart__title {
            margin-bottom: 2rem;
        }
    }

    &__title h2 {
        font-size: $rubik-sb-32;
    }

    &__clear {
        button.clear {
            font:
                600 $opensans-r-16 "Open Sans",
                sans-serif;
            color: $dark;
            text-decoration: underline;
        }
    }

    .subject {
        display: grid;
        row-gap: 1.5rem;
        margin-bottom: 2.5rem;

        &__item--wrap {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: $tablet) {
    .cart {
        .cart-wrap {
            flex-direction: column;
        }

        &__inner:first-child {
            .cart-wrap {
                margin-bottom: 1.5rem;
                flex-direction: initial;

                .clear {
                    font-size: $opensans-r-14;
                }
            }
        }

        &__inner:first-child,
        &__inner:last-child {
            width: 100%;
        }

        &__inner:first-child {
            margin-bottom: 2.5rem;
        }

        &__inner:last-child {
            border-radius: 1.2rem;
            background-color: $section-white;
            padding: 1.5rem;

            .cart__title {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .cart {
        &__title h2 {
            font-size: $rubik-sb-20;
        }

        .subject p {
            font-size: $rubik-sb-16;
        }

        &__inner:first-child .content-cart {
            row-gap: 2.5rem;
        }
    }
}
