<section class="cart">
    <ng-container *ngIf="cartData.length === 0">
        <app-empty [isCart]="true"></app-empty>
    </ng-container>
    <ng-container *ngIf="cartData.length > 0">
        <div class="cart-wrap">
            <div class="cart__inner">
                <div class="cart-wrap">
                    <div class="cart__title">
                        <h2>Корзина</h2>
                    </div>
                    <div class="cart__clear">
                        <button (click)="clearCart()" class="clear">
                            Очистить корзину
                        </button>
                    </div>
                </div>
                <div class="content-cart">
                    <ng-container *ngFor="let item of cartData">
                        <app-card-basket
                            (dataChange)="removeFromCart($event)"
                            [data]="item"></app-card-basket>
                    </ng-container>
                </div>
            </div>
            <div class="cart__inner">
                <div class="cart__title">
                    <h2>Ваша Корзина</h2>
                </div>
                <div class="subject">
                    <div class="subject__item subject__item--wrap">
                        <div class="subject__item_name">
                            <p>Товары ({{ getTotalCount() }})</p>
                        </div>
                        <div class="subject__item_price">
                            <p>{{ getTotalCost() }} ₽</p>
                        </div>
                    </div>
                    <div class="subject__item subject__item--wrap">
                        <div class="subject__item_name">
                            <p>Доставка</p>
                        </div>
                        <div class="subject__item_price">
                            <p>500 ₽</p>
                        </div>
                    </div>
                    <div class="subject__item subject__item--wrap">
                        <div class="subject__item_name">
                            <p>Скидка (%)</p>
                        </div>
                        <div class="subject__item_price">
                            <p>-</p>
                        </div>
                    </div>
                    <div class="subject__item subject__item--wrap">
                        <div class="subject__item_name">
                            <p>Итого</p>
                        </div>
                        <div class="subject__item_price">
                            <p>{{ getTotalCost() + 500 }} ₽</p>
                        </div>
                    </div>
                </div>
                <div class="cart__btn">
                    <button class="btn">Заказать</button>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="wrap">
        <app-slider></app-slider>
    </div>
</section>
