<section class="product">
    <div class="product__inner">
        <div class="product product--wrap desktop">
            <ng-container *ngFor="let img of dataProduct.images">
                <div
                    [style]="{
                        background:
                            'url(' +
                            img +
                            ')' +
                            'no-repeat center center / cover'
                    }"
                    class="product__img"></div>
            </ng-container>
        </div>
        <div class="product product--wrap mobile">
            <div
                [style]="{
                    background:
                        'url(' +
                        selectedImage +
                        ') no-repeat bottom center / cover'
                }"
                class="main-img">
                <div class="dot">
                    <div class="dot__item active"></div>
                    <div class="dot__item"></div>
                    <div class="dot__item"></div>
                    <div class="dot__item"></div>
                </div>
            </div>
            <div class="grid-images">
                <ng-container
                    *ngFor="let img of dataProduct.images; let i = index">
                    <div
                        (click)="selectImage(img, i)"
                        [style]="{
                            background:
                                'url(' +
                                img +
                                ') no-repeat  bottom center / cover'
                        }"
                        class="img"></div>
                </ng-container>
            </div>
        </div>
        <div class="product product--wrap">
            <div class="subject">
                <div class="subject subject--wrap">
                    <div class="subject__status flag">
                        <span
                            [ngClass]="{
                                discount: dataProduct.status === 'Распродажа',
                                new: dataProduct.status === 'Новое'
                            }"
                            >{{ dataProduct.status }}</span
                        >
                    </div>
                    <div class="subject__title">
                        <h2>{{ dataProduct.title }}</h2>
                        <!-- TODO: Сделать рейтинг-->
                        <div class="subject__rating"></div>
                    </div>
                    <div class="subject__cost cost">
                        <h3>{{ dataProduct.cost }} ₽</h3>
                    </div>
                </div>
                <div class="subject__item subject__item-color">
                    <div class="title">
                        <p>Цвета</p>
                    </div>
                    <div class="subject__item subject__item--wrap">
                        <ng-container *ngFor="let color of dataProduct.colors">
                            <span
                                [ngClass]="{
                                    active: color === dataProduct.colors[0]
                                }"
                                [style]="{ 'background-color': color }"
                                class="color"></span>
                        </ng-container>
                    </div>
                </div>
                <div class="subject__item subject__item-size">
                    <div class="title">
                        <p>Размеры</p>
                    </div>
                    <div class="subject__item subject__item--wrap">
                        <ng-container *ngFor="let size of dataProduct.sizes">
                            <button
                                (click)="selectSize(size)"
                                [class.active]="selectedSize === size"
                                class="btn btn--size">
                                {{ size }}
                            </button>
                        </ng-container>
                    </div>
                </div>
                <div class="subject__item">
                    <div class="subject__btn subject__btn--wrap">
                        <button
                            (click)="toggleCart(dataProduct.id)"
                            class="btn">
                            {{
                                _isCart
                                    ? "Удалить из корзины"
                                    : "Добавить в корзину"
                            }}
                        </button>
                        <button
                            (click)="toggleFavorite(dataProduct.id)"
                            [class.active]="_isFavorite"
                            class="btn btn--icon-heart"></button>
                    </div>
                    <button class="btn btn--secondary">Купить сейчас</button>
                </div>
                <div class="subject__description">
                    <div class="title">
                        <p>Описание:</p>
                    </div>
                    <div class="description">
                        <div class="description__item">
                            <ng-container
                                *ngFor="
                                    let titles of dataProduct.description
                                        ?.titles
                                ">
                                <p class="description__title">
                                    {{ titles }}
                                    <span
                                        >.............................................................</span
                                    >
                                </p>
                            </ng-container>
                        </div>
                        <div class="description__item">
                            <ng-container
                                *ngFor="
                                    let texts of dataProduct.description?.texts
                                ">
                                <p class="description__text">{{ texts }}</p>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="review">
        <div class="review__title">
            <h2>Отзывы</h2>
            <h4>
                {{ dataProduct.review?.length }}
            </h4>
        </div>
        <ng-container *ngIf="!dataProduct.review?.length">
            <!--TODO: стилизовать-->
            <div class="review__empty">
                <p>Нет отзывов</p>
            </div>
        </ng-container>
        <ng-container *ngIf="dataProduct.review?.length">
            <div class="review__grid">
                <app-review
                    *ngFor="let review of dataProduct.review"
                    [dataReview]="review"></app-review>
            </div>
            <div (click)="showMoreReviews()" class="review__more">
                <button class="review__btn">
                    <svg
                        fill="none"
                        height="24"
                        viewBox="0 0 25 24"
                        width="25"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.75 9L12.5 15.75L19.25 9"
                            stroke="#232321"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5" />
                    </svg>
                </button>
            </div>
        </ng-container>
    </div>
    <div class="wrap">
        <app-slider></app-slider>
    </div>
</section>
