<div class="card-product">
    <div class="card-product__inner">
        <div
            [style]="{
                background:
                    'url(' +
                    data.image +
                    ')' +
                    'no-repeat bottom center / cover'
            }"
            class="card-product__img">
            <div class="flag">
                <!--TODO: Проверить работу discount-->
                <span
                    [ngClass]="{
                        discount: data.status.includes('%'),
                        new: data.status.includes('Новое')
                    }"
                    >{{ data.status }}</span
                >
            </div>
            <ng-container *ngIf="data.isFavorite">
                <!--TODO: Сделать функцию удаление из избранного-->
                <div class="heart">
                    <img
                        alt="В избранном"
                        src="../../../../assets/img/common/heart-favorite.svg" />
                </div>
            </ng-container>
        </div>
    </div>
    <div class="card-product__title">
        <h3>{{ data.title }}</h3>
    </div>
    <div
        [ngClass]="{
            'btn-favorite': data.isFavorite
        }"
        class="card-product__btn">
        <button
            (click)="data.isFavorite && addToCart(data.id)"
            [routerLink]="[
                data.isFavorite ? '/favorite' : '/product/' + data.id
            ]"
            class="btn medium">
            {{ data.isFavorite ? "В корзину" : "подробнее" }} -
            <span> {{ data.cost }}₽ </span>
        </button>
        <ng-container *ngIf="data.isFavorite">
            <!--TODO: Нужно будет сделать функцию которая, отправляет данные на страницу check out-->
            <button class="btn btn--secondary medium">Купить</button>
        </ng-container>
    </div>
</div>
