<div class="card-product">
    <div class="card-product__inner">
        <div
            [style]="{
                background:
                    'url(' +
                    data.image +
                    ')' +
                    'no-repeat bottom center / cover'
            }"
            class="card-product__img">
            <div class="flag">
                <!--TODO: Проверить работу discount-->
                <span
                    [ngClass]="{
                        discount: data.status.includes('%'),
                        new: data.status.includes('Новое')
                    }"
                    >{{ data.status }}</span
                >
            </div>
            <ng-container *ngIf="data.isFavorite">
                <div (click)="removeFavorite(data.id)" class="heart">
                    <img
                        alt="В избранном"
                        src="../../../../assets/img/common/heart-favorite.svg" />
                </div>
            </ng-container>
        </div>
    </div>
    <div class="card-product__title">
        <h3>{{ data.title }}</h3>
    </div>
    <div class="card-product__btn">
        <button [routerLink]="['/product/' + data.id]" class="btn medium">
            подробнее - <span> {{ data.cost }}₽ </span>
        </button>
    </div>
</div>
