<section class="catalog">
    <div class="catalog__wrapper">
        <div class="catalog__item catalog__item--wrap">
            <div class="catalog__title">
                <h2>Каталог</h2>
            </div>
            <div class="catalog__subtitle">
                <p>{{ dataCatalog.length }} товаров</p>
            </div>
        </div>
        <div class="catalog__item catalog__item--wrap">
            <div (click)="toggleIsFilter()" class="catalog__select mobile">
                <h4>Фильтрация</h4>
            </div>
            <div class="catalog__select-sort">
                <div
                    (click)="isOpen = !isOpen"
                    [class.active]="isOpen"
                    class="catalog__select">
                    <h4>{{ selectedSort }}</h4>
                </div>
                <div [class.active]="isOpen" class="catalog__select-wrap">
                    <ng-container *ngFor="let option of optionList">
                        <div
                            (click)="selectedSort = option.name; isOpen = false"
                            [queryParams]="{
                                sort: option.value,
                                orderBy:
                                    option.value[0] === '-' ? 'asc' : 'desc'
                            }"
                            [routerLink]="['/catalog']"
                            class="catalog__select-item">
                            <p>{{ option.name }}</p>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog__wrapper">
        <aside [class.active]="isFilter" class="catalog__filter responsive">
            <div class="catalog__filter-inner">
                <div class="catalog__filter-title">
                    <h3>Фильтр</h3>
                </div>
                <ng-container
                    *ngFor="let category of categoryList; let i = index">
                    <div class="catalog__filter-wrap">
                        <div
                            (click)="toggleSelect(i)"
                            [class.active]="isSelected[i]"
                            class="catalog__filter-select">
                            <h4>{{ category.title }}</h4>
                        </div>
                        <div
                            [class.active]="isSelected[i]"
                            class="catalog__filter-item">
                            <ng-container *ngFor="let type of category.type">
                                <div
                                    [queryParams]="{
                                        chapter: type.chapter,
                                        type: type.type
                                    }"
                                    class="catalog__filter-link"
                                    routerLink="/catalog">
                                    <input
                                        [id]="type.id"
                                        name="same_category_name"
                                        type="radio"
                                        value="false" />
                                    <label
                                        [for]="type.id"
                                        class="label-checkbox"
                                        >{{ type.title }}</label
                                    >
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <div class="catalog__filter-wrap">
                    <div
                        (click)="toggleSelect(3)"
                        [class.active]="isSelected[3]"
                        class="catalog__filter-select">
                        <h4>Размеры</h4>
                    </div>
                    <div
                        [class.active]="isSelected[3]"
                        class="catalog__filter-item">
                        <div class="scroll">
                            <div class="scroll-inner">
                                <ng-container *ngFor="let size of sizesList">
                                    <button
                                        (click)="selectSize(size)"
                                        [class.active]="
                                            selectedSizes.includes(size)
                                        "
                                        class="btn btn--size size">
                                        {{ size }}
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                        <ng-container *ngIf="selectedSizes.length > 0">
                            <div class="catalog__filter-wrap">
                                <button
                                    [queryParams]="{ sizes: selectedSizes }"
                                    class="btn btn--primary medium"
                                    routerLink="/catalog">
                                    Примерить
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="catalog__filter-wrap">
                    <div
                        (click)="toggleSelect(4)"
                        [class.active]="isSelected[4]"
                        class="catalog__filter-select">
                        <h4>Цвета</h4>
                    </div>
                    <div
                        [class.active]="isSelected[4]"
                        class="catalog__filter-item">
                        <div class="scroll">
                            <div class="scroll-inner color-btn">
                                <ng-container *ngFor="let color of colorsList">
                                    <button
                                        (click)="selectColor(color.slice(1))"
                                        [class.active]="
                                            selectedColors.includes(color)
                                        "
                                        [ngStyle]="{
                                            'background-color': color,
                                            height: '4.8rem'
                                        }"
                                        class="btn btn--size"></button>
                                </ng-container>
                            </div>
                        </div>
                        <ng-container *ngIf="selectedColors.length > 0">
                            <div class="catalog__filter-wrap">
                                <button
                                    [queryParams]="{ colors: selectedColors }"
                                    class="btn btn--primary medium"
                                    routerLink="/catalog">
                                    Примерить
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="catalog__filter-wrap">
                    <div
                        (click)="toggleSelect(2)"
                        [class.active]="isSelected[2]"
                        class="catalog__filter-select">
                        <h4>Пол</h4>
                    </div>
                    <div
                        [class.active]="isSelected[2]"
                        class="catalog__filter-item">
                        <div
                            [queryParams]="{
                                gender: 'Мужские'
                            }"
                            class="catalog__filter-link"
                            routerLink="/catalog">
                            <input
                                id="gender"
                                name="gender"
                                type="radio"
                                value="false" />
                            <label class="label-checkbox" for="gender">
                                Мужские
                            </label>
                        </div>
                        <div
                            [queryParams]="{
                                gender: 'Женские'
                            }"
                            class="catalog__filter-link"
                            routerLink="/catalog">
                            <input
                                id="genderW"
                                name="gender"
                                type="radio"
                                value="false" />
                            <label class="label-checkbox" for="genderW">
                                Женские
                            </label>
                        </div>
                        <div
                            [queryParams]="{
                                gender: ''
                            }"
                            class="catalog__filter-link"
                            routerLink="/catalog">
                            <input
                                id="genderAny"
                                name="gender"
                                type="radio"
                                value="false" />
                            <label class="label-checkbox" for="genderAny">
                                Любой
                            </label>
                        </div>
                    </div>
                </div>
                <div
                    [class.active]="isFilter"
                    class="catalog__filter-wrap catalog__filter-btn">
                    <ng-container *ngIf="isFilter">
                        <button
                            (click)="toggleIsFilter()"
                            class="btn btn--primary">
                            Показать
                        </button>
                    </ng-container>
                    <button
                        (click)="clearFilters()"
                        [routerLink]="['/catalog']"
                        class="btn btn--secondary medium">
                        Сбросить
                    </button>
                </div>
            </div>
        </aside>
        <div class="catalog__grid-wrap">
            <ng-container *ngIf="isLoading">
                <p>Загрузка...</p>
            </ng-container>
            <ng-container *ngIf="error">
                <p>{{ error }}</p>
            </ng-container>
            <div class="catalog__grid">
                <ng-container *ngIf="!error">
                    <app-card-product
                        *ngFor="
                            let item of dataCatalog
                                | paginate: { itemsPerPage: 9, currentPage }
                        "
                        [data]="item"></app-card-product>
                </ng-container>
            </div>
            <div class="catalog__pagination-wrap">
                <pagination-controls
                    (pageChange)="onChangePage($event)"
                    [autoHide]="true"
                    [responsive]="true"
                    class="catalog__pagination"></pagination-controls>
            </div>
        </div>
    </div>
    <div
        [ngStyle]="{ display: isFilter ? 'block' : 'none' }"
        class="background">
        <div (click)="toggleIsFilter()" class="close-btn">
            <svg
                fill="none"
                height="13"
                viewBox="0 0 13 13"
                width="13"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.771484 1.07324L11.8179 12.0073"
                    stroke="black"
                    stroke-linecap="round" />
                <path
                    d="M0.771484 12.0078L11.8179 1.07375"
                    stroke="black"
                    stroke-linecap="round" />
            </svg>
        </div>
    </div>
</section>
