<section class="reset-password">
    <div class="container-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" class="form">
            <div class="form-wrap">
                <div class="form__title">
                    <h2>Восстановление пароля</h2>
                </div>
                <div class="form__subtitle">
                    <ng-container *ngIf="!condition">
                        <p>Для восстановления пароля введите почту</p>
                    </ng-container>
                    <ng-container *ngIf="condition">
                        <p>Введите новый пароль</p>
                    </ng-container>
                </div>
            </div>
            <div class="form-wrap">
                <ng-container *ngIf="!condition">
                    <div class="form__input">
                        <label for="email"></label>
                        <input
                            [ngClass]="{
                                error: resetForm.controls['email'].errors
                            }"
                            autocomplete="email"
                            formControlName="email"
                            id="email"
                            name="email"
                            placeholder="user@example.com"
                            type="email" />
                        <ng-container *ngIf="error">
                            <span class="info-text error">{{ error }}</span>
                        </ng-container>
                        <ng-container
                            *ngIf="resetForm.controls['email'].errors">
                            <div class="input-icon info">
                                <img
                                    alt="ошибка"
                                    src="../../../../assets/img/common/information-circle.svg" />
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="condition">
                    <div class="form__input password">
                        <label for="password"></label>
                        <input
                            [ngClass]="{
                                error: resetForm.controls['password'].errors
                            }"
                            [type]="typeInputPassword"
                            autocomplete="password"
                            formControlName="password"
                            id="password"
                            name="password"
                            placeholder="Пароль" />
                        <ng-container *ngIf="!showPassword">
                            <div
                                (click)="showPasswordInput()"
                                class="input-icon">
                                <img
                                    alt="показать пароль"
                                    src="../../../../assets/img/common/password--show.svg" />
                            </div>
                        </ng-container>
                        <ng-container *ngIf="showPassword">
                            <div
                                (click)="showPasswordInput()"
                                class="input-icon">
                                <img
                                    alt="показать пароль"
                                    src="../../../../assets/img/common/password--hidden.svg" />
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="resetForm.controls['password'].errors">
                            <div class="input-icon info">
                                <img
                                    alt="ошибка"
                                    src="../../../../assets/img/common/information-circle.svg" />
                            </div>
                        </ng-container>
                        <ng-container *ngIf="error">
                            <span class="info-text error">{{ error }}</span>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <div class="form__input button">
                <button
                    [ngClass]="{
                        'btn--secondary': condition,
                        'btn--primary': !condition
                    }"
                    class="btn btn--secondary"
                    type="submit">
                    {{ condition ? "Сохранить" : "Продолжить" }}
                </button>
            </div>
        </form>
    </div>
</section>
