@import "../../../styles";

.footer {
    h3 {
        color: $white;
    }

    a,
    p {
        color: $gray;
        font:
            600 $opensans-r-20 "Open Sans",
            sans-serif;
    }

    &--top,
    &--bottom {
        padding: 5rem;
        @extend %wrapper;
        border-radius: 4.8rem;
    }

    &--top {
        flex-wrap: wrap;
        justify-content: left;
        background-color: blue;
        transform: translateY(16rem);

        padding-bottom: 13.4rem;

        .wrapper:first-child {
            margin-right: 17rem;
        }

        .subject {
            width: 57.7rem;

            &__title h3 {
                font-size: $rubik-sb-48;
                text-transform: uppercase;
            }

            &__subtitle {
                margin: 1.5rem 0 3rem;
            }
        }

        .form {
            @extend %wrapper;
            width: 47.1rem;

            input {
                margin-right: 1rem;
            }
        }
    }

    // TODO: Подумать что-то над нижней частью футера

    &--bottom {
        background-color: $dark;
        transform: translateY(8rem);
        padding-bottom: 38.9rem;
        position: relative;
        overflow: hidden;

        .list:first-child li p {
            width: 45.8rem;
        }

        .wrapper-inner {
            @extend %wrapper;
            align-items: flex-start;
        }

        .wrapper-inner .list:first-child {
            margin-right: 12.8rem;
        }

        .list h3.first {
            font-size: $rubik-sb-36;
        }

        .list {
            li:not(:first-child) {
                margin-top: 0.8rem;
            }

            &__title {
                margin-bottom: 1.6rem;

                h3 {
                    font-size: $rubik-sb-24;
                    color: $yellow;
                }
            }
        }

        .background {
            position: absolute;
            background: url("../../../assets/img/footer/logo--white.svg")
                no-repeat center center;
            background-size: contain;
            bottom: -21rem;
            left: 3rem;
            right: 3rem;
            height: 100%;
        }
    }

    &__logo img {
        height: 8.8rem;
        width: 33.5rem;
    }

    @media screen and (max-width: $laptop) {
        .footer {
            &--top {
                padding-bottom: 8rem;

                .wrapper:first-child {
                    margin-right: 0;
                }
            }

            &--bottom {
                padding-bottom: 26.9rem;

                .wrapper-inner .list:first-child {
                    margin-right: 5rem;
                }

                .background {
                    bottom: -17rem;
                }
            }

            &__logo {
                margin: 3rem 0 4rem;
            }
        }
    }
    @media screen and (max-width: $tablet) {
        .footer {
            &--bottom {
                align-items: normal;
                flex-direction: column;
                padding-bottom: 14.9rem;

                .list:first-child li p {
                    width: 100%;
                }

                .wrapper-inner {
                    flex-direction: column;
                    margin-top: 4rem;

                    .list:first-child {
                        margin-bottom: 2.5rem;
                    }
                }

                .background {
                    bottom: -26.9rem;
                }
            }
        }
    }
    @media screen and (max-width: $mobile) {
        .footer {
            &--top,
            &--bottom {
                padding: 1.6rem 1.6rem 4rem;
                border-radius: 2.4rem;
            }

            &--top {
                transform: translateY(8rem);

                .form,
                .subject {
                    width: 100%;
                }

                .subject {
                    &__title h3 {
                        font-size: $rubik-sb-30;
                    }

                    &__subtitle {
                        margin-bottom: 1.5rem;

                        p {
                            font-size: $opensans-r-16;
                        }
                    }
                }

                .form {
                    flex-direction: column;
                    row-gap: 0.5rem;

                    input {
                        margin-right: 0;
                    }

                    button.btn {
                        width: 100%;
                    }
                }
            }

            &--bottom {
                padding-bottom: 8.5rem;
                transform: translateY(4rem);

                .list__title.first h3 {
                    font-size: $rubik-sb-24;
                }

                .background {
                    left: 0.9rem;
                    right: 0.9rem;
                }
            }

            &__logo img {
                height: 6.1rem;
                width: 23.2rem;
            }
        }
    }
}
