<div class="favorite">
    <ng-container *ngIf="favoriteItems.length === 0 && !isLoading">
        <app-empty [isFavorite]="true"></app-empty>
    </ng-container>
    <ng-container *ngIf="isLoading">
        <p>Загрузка...</p>
    </ng-container>
    <ng-container *ngIf="!isLoading">
        <div class="grid">
            <app-card-product
                (dataChange)="removeFavorite($event)"
                *ngFor="let item of favoriteItems"
                [data]="item"></app-card-product>
        </div>
    </ng-container>
</div>
