/* Общие стили */
@import "variables";

.container {
    width: 135.6rem;
    padding: 0 1.8rem;
    margin: 2rem auto;
    @media screen and (max-width: $laptop) {
        width: 117.6rem;
    }
    @media screen and (max-width: $tablet) {
        width: 75.6rem;
    }
}

.container-grid {
    display: grid;
    row-gap: 7.5rem;
    grid-template-rows: auto 1fr auto;
}

.container-form {
    width: 42.5rem;
    margin: 0 auto;
}

@media screen and (max-width: $mobile) {
    .container,
    .container-form {
        width: 100%;
    }
    .container-grid {
        row-gap: 4rem;
    }
}

button.btn.medium {
    padding: 1.3rem;
}

button.btn.small {
    padding: 0.8rem;
    font-size: $rubik-sb-12;
}

button.btn {
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    padding: 1.6rem;
    text-align: center;
    letter-spacing: 0.025rem;
    background-color: $dark;
    color: $white;
    font:
        500 $rubik-m-14 "Rubik",
        sans-serif;
    border-radius: 0.8rem;
    position: relative;
    width: 100%;

    &:hover {
        background-color: $btn-hover;
    }

    &:focus {
        outline: 0.5rem solid $gray;
    }

    &:active {
        background-color: $btn-active;
    }

    &--icon::before {
        content: "";
        background: url("../img/common/arrow_forward.svg") no-repeat center
            center;
        display: block;
        position: absolute;
        right: 1.6rem;
        width: 1.6rem;
        height: 1.6rem;
    }

    &--secondary {
        background-color: $blue;

        &:hover {
            background-color: #4a69e2ff;
        }

        &:focus {
            outline: 0.5rem solid $btn-secondary;
        }
    }

    &--controls {
        padding: 1.2rem;

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $btn-secondary;
        }
    }

    &--size {
        background-color: $white;
        color: $dark;

        &:disabled {
            cursor: not-allowed;
            background-color: $btn-secondary;
            color: $btn-secondary-text;
        }

        &:hover {
            color: $white;
        }
    }

    &--size.active {
        background-color: $dark;
        color: $white;
    }

    &--icon-heart {
        width: 4.8rem;

        &:after {
            content: "";
            position: absolute;
            top: 1.6rem;
            left: 1.6rem;
            background: url("../../assets/img/common/heart-white.svg") no-repeat
                center center;
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &--icon-heart.active {
        background-color: $error;
    }
}

label {
    display: none;
}

label.label-checkbox {
    font:
        400 $opensans-r-16 "Open Sans",
        sans-serif;
    display: block;
    width: 100%;
}

input[type="email"].white {
    outline: 1px solid $white;

    &:focus {
        color: $gray;
    }

    &:-webkit-autofill {
        -webkit-text-fill-color: $gray;
    }

    &::placeholder {
        color: $gray;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 1.5rem 1.6rem;
    border-radius: 0.8rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
    outline: 1px solid $dark;
    font:
        400 $inter-r-14 "Inter",
        sans-serif;
    letter-spacing: 0.05rem;
    color: $input-text;

    &:focus {
        color: $input-text-active;
        outline: 1px solid $input-focus;
    }

    &:hover {
        outline: 1px solid $input-hover;
    }
}

input.error {
    outline: 1px solid $error;
}

.form {
    display: grid;
    row-gap: 3rem;

    &__subtitle a {
        font:
            600 $opensans-r-20 "Open Sans",
            sans-serif;
        text-decoration: underline;
    }

    &__title-inner h3 {
        position: relative;

        &:after {
            content: "";
            background: url("../img/common/required.svg") no-repeat center
                center;
            background-size: contain;
            width: 0.7rem;
            height: 0.7rem;
            position: absolute;
        }
    }

    .form-wrap {
        display: grid;
        row-gap: 1.5rem;
    }

    &__input.checkbox {
        display: flex;
        align-items: center;

        input[type="checkbox"],
        input[type="radio"] {
            margin-right: 0.5rem;
        }

        input[type="radio"] {
            padding-right: 1.4rem;
        }
    }

    &__input {
        position: relative;
    }

    &__input.password .input-icon.info {
        right: 4.5rem;
    }

    .input-icon {
        cursor: pointer;
        position: absolute;
        top: 1.2rem;
        right: 1.5rem;

        img {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .input-icon.info {
        right: 1.5rem;
    }

    .info-text.error {
        letter-spacing: 0.04rem;
        color: $error;
        font:
            400 1.2rem "Inter",
            sans-serif;
    }
}

@media screen and (max-width: $mobile) {
    .form {
        row-gap: 2rem;

        &__title h2 {
            font-size: $rubik-sb-24;
        }

        &__title-inner h3 {
            font-size: $rubik-sb-20;
        }

        &__subtitle a {
            font-size: $opensans-r-16;
        }

        label.label-checkbox {
            font-size: $opensans-r-14;
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    border: 0.2rem solid $dark;
    border-radius: 0.2rem;
    width: 1.8rem;
    height: 1.8rem;
    display: block;

    position: relative;

    &:checked {
        background: $dark;
        border-color: $main-gray;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0.2em;
            top: 0.4rem;
            width: 0.9rem;
            height: 0.7rem;
            background: url("../img/common/check.svg") no-repeat center center;
            background-size: contain;
        }
    }
}

.slider .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.favorite .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media screen and (max-width: $tablet) {
    .slider,
    .favorite {
        .grid {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 1.5rem;
        }
    }
}

.cart,
.product {
    .wrap {
        margin-top: 7rem;
        @media screen and (max-width: $mobile) {
            margin-top: 4rem;
        }
    }
}

.flag {
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.8rem;
        height: 3.8rem;
        color: $white;
        border-radius: 2.4rem 0 2.4rem 0;
        font-weight: 600;
        font-size: $rubik-sb-12;
    }

    span.new {
        background-color: $blue;
    }

    span.discount {
        color: $dark;
        background-color: $yellow;
    }
}

@media screen and (max-width: $mobile) {
    .card-product,
    .card-basket {
        .flag span {
            border-radius: 1.2rem 0 1.2rem 0;
            width: 4.2rem;
            height: 2.2rem;
            font-size: 1rem;
        }
    }
}

.cost {
    h3,
    h4 {
        color: $blue;
    }
}

.cart {
    p {
        font-size: $opensans-sb-20;
        @media screen and (max-width: $tablet) {
            font-size: $opensans-r-16;
        }
        font-weight: 600;
    }

    .subject {
        display: grid;
        row-gap: 1.5rem;

        &__item--wrap {
            display: flex;
            justify-content: space-between;
        }
    }
}

.stars {
    display: flex;
    justify-content: space-between;
    width: 13.5rem;

    .star svg {
        width: 2.5rem;
        height: 2.3rem;
    }
}

.card-review {
    &__name h3 {
        font-size: $rubik-sb-20;
    }

    &__date {
        font-size: $opensans-r-14;
        color: $main-gray;
        margin: 1rem 0 0.5rem;
    }
}
